@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat', 'sans-serif';
    padding-top: 70px;
    background-color: #1A253A;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    padding-right: 2px;
}
.nav-link:hover, .nav-link.active{
    color: orange;
    cursor: pointer;
}
.nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: orange;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}
.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}
nav {
    margin-bottom: 10px;
}
.navbar-brand {
    margin: 0;
}
